/**
 * Columns
 */
@mixin columns($cols: 2) {
  ul {
    columns: $cols;
    -webkit-columns: $cols;
    -moz-columns: $cols;
    ul {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
  }
}

// transition
@mixin transition-all($duration: 1) {
  transition: all #{$duration}s ease;
  -moz-transition: all #{$duration}s ease;
  -webkit-transition: all #{$duration}s ease;
}

// Rotate
@mixin rotate($degrees) {
  -webkit-transform: rotate(#{$degrees}deg);
  -moz-transform: rotate(#{$degrees}deg);
  -ms-transform: rotate(#{$degrees}deg);
  -o-transform: rotate(#{$degrees}deg);
  transform: rotate(#{$degrees}deg);
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  zoom: 1;
}

// gradients
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// Border Clip
@mixin background-clip($clip: border) {
  -moz-background-clip: $clip;     /* Firefox 3.6 */
  -webkit-background-clip: $clip;  /* Safari 4? Chrome 6? */
  background-clip: #{$clip}-box;
}

// Custom icon font
@mixin custom-font() {
  font-family: 'custom-icons'; // Change this to the name of your font.
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
