// Font size
$font-base: 1em;
$font-sm: 0.875em;
$font-xs: 0.75em;

// Colors
$base-1: #02203f;
$highlight-1: #1183f8;
$highlight-2: #b3ce00;
$highlight-3: #1c6cbe;
$gray-1: #333;

// Font stacks
$serif: serif;
$sans-serif: sans-serif;
$sans-serif-alt: sans-serif;

// Column Widths - useful for padding
$col-1: percentage(1/12);

// Social Media colors
$twitter: #5ed0ff;
$facebook: #4974cf;
$youtube: #e44b3c;
$rss: #ff9707;
