/**
 * @file base.scss
 *   Defaults. They are almost exclusively single element selectors but it
 *   could include attribute selectors, pseudo-class selectors, child
 *   selectors or sibling selectors. Essentially, a base style says that
 *   wherever this element is on the page, it should look like this.
 */

@import "vars";
@import "mixins";

html {
  font-size: $font-base;
  @media (max-width: 1199px) {
    // md screens; 1rem = 9px
    font-size: 56.25%;
  }
  @media (max-width: 991px) {
    // sm screens; 1rem = 8px
    font-size: 50%;
  }
  @media (max-width: 767px) {
    // xs screens; 1rem = 7px
    font-size: 43.75%;
  }
}
body {
  font-family: $serif;
  font-size: 1.8em;
  font-weight: 300;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.8rem;
}

a {
  color: $highlight-1;
  &:hover {
    color: $highlight-1;
    text-decoration: underline;
  }
}

// This makes the background dark and the text light.
.reverse-contrast {
  background-color: $gray-dark;
  color: $gray-light;
  a {
    color: $gray-light;
  }
  &.reverse-contrast__base-1 {
    // Variation - makes the backgroung purple instead. Used mainly in sidebar
    // blocks.
    background-color: $base-1;
    color: white;
    label {
      color: $highlight-2;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    color: white;
  }
  .nav li {
    // Link colors contained in menus need to be white too.
    a {
      color: $gray-light;
      &:hover {
        color: white;
      }
      &:before {
        background-color: $gray-light;
      }
    }
    &.active {
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
    }
  }
}

.bgc-base-1 {
  background-color: $base-1;
}
.text-white {
  color: white !important;
}
.font-smaller {
  font-size: 85%;
}